// Main Style

// General
@import "variables";
@import "vendor/bootstrap-includes";
@import "helpers/all";
@import "global";
@import "components/all";
@import "pages/all";

#django-background {
  color: #092e20;
  font-size: 11pt;
}



.logo-top {
  position: static;
  transform: none;
  margin-top: 20px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: black;
  font-size: 24px;
  font-weight: normal;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: #555;
}

span {
  color: #333;
}
